.ancho {
  width: 90%;
}
.close-button{
  float: right;
  z-index: 100;
} 

.form-title {
  text-align: center;
}
mat-form-field {
  width: 100%;
}

/* Dialog */
.form-title {
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .mat-dialog-container {
    max-width: 100%;
    margin: 0;
  }

  .mat-dialog-content {
    padding: 16px;
  }

  .mat-dialog-actions {
    padding: 16px;
  }
}