.example-spacer {
  flex: 1 1 auto;
}
.nav-logo{
  margin: 0 auto;
  padding-left: 2%;
}

.nav-color{
  background-color: #fefaf1 !important;
}



/* Header */
.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.nav-logo {
  font-size: 24px;
  font-weight: bold;
}

/* waves */

.spacer{
  aspect-ratio: 960 / 200;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1{
  background-image: url('../../../assets/Mediamodifier-Design.svg');
}

.simple-wave{
  background-image: url('../../../assets/simple-wave.svg');
}

.inverted-simple-wave{
  background-image: url('../../../assets/inverted-wave.svg');
}

/* Landing Page */
.landing-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(70vh - 64px);
  padding: 0 16px;
  text-align: center;
}


.landing-page-container h1 {
  font-size: 48px;
  margin-bottom: 16px;
}

.landing-page-container p {
  font-size: 24px;
  margin-bottom: 32px;
}

/* Call-to-Action */
.mat-raised-button {
  margin-top: 32px;
  font-size: 20px;
  font-weight: bold;
  padding: 16px 32px;
  border-radius: 32px;
  min-height: 600px;
}

/* Features */
.features-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

.feature-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin: 16px;
  padding: 32px;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  color: #333;
}

.feature-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.selected-card {
  background-color: #b39ddb;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.colored-primary-section {
  background-color: #ede7f6;
}

.feature-card mat-icon {
  margin-bottom: 16px;
}

.feature-card h3 {
  font-size: 24px;
  margin-bottom: 16px;
}
.feature-card h2 {
  color: #ede7f6;
}


.feature-card p {
  font-size: 16px;
  text-align: center;
}

 
/* Call-to-Action */
.cta-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 300px;
}

.cta-container h2 {
  font-size: 48px;
  margin-bottom: 32px;
}

.cta-container a {
  color: #007bff;
  text-decoration: none;
}

.cta-container a:hover {
  text-decoration: underline;
}

/* Authors */
.authors-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 64px 16px;
  background-color: #7e57c2;
}


.author-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  margin: 16px;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  background-color: #ede7f6;
}

.authors-container h2 {
  font-size: 30px;
  margin-right: 32px;
  color: #fff;
}

.author-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.author-card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 16px;
}

.author-card h3 {
  font-size: 24px;
  margin-bottom: 16px;
}

.author-card p {
  font-size: 16px;
  text-align: center;
}

/* Footer */
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  background-color: #7e57c2;
}

.footer-container p {
  font-size: 16px;
  color: #ede7f6;
}
.footer-container a {
  font-size: 16px;
  color: #e6e6ff;
}

.colored-section{
  background-color: #e6e6ff;
}

.colored-primary-section{
  background-color: #7e57c2;
}


/* Media queries */
@media screen and (max-width: 768px) {
  .landing-page-container h1 {
    font-size: 36px;
    margin-bottom: 18px;
  }

  .landing-page-container p {
    font-size: 18px;
    margin-bottom: 16px;
  }

  .mat-raised-button {
    font-size: 16px;
    padding: 12px 24px;
    min-height: auto;
  }

  .features-container {
    min-height: auto;
  }

  .feature-card {
    width: 100%;
    height: auto;
    margin: 8px;
    padding: 16px;
  }

  .feature-card h3 {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .feature-card p {
    font-size: 14px;
  }

  .cta-container h2 {
    font-size: 36px;
    margin-bottom: 16px;
  }

  .author-card {
    width: 100%;
    height: auto;
    margin: 8px;
    padding: 16px;
  }

  .author-card h3 {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .author-card p {
    font-size: 14px;
  }


  .mat-dialog-container {
    max-width: 100%;
    margin: 0;
  }

  .mat-dialog-content {
    padding: 16px;
  }

  .mat-dialog-actions {
    padding: 16px;
  }
}